:root {
	--bg: #FFFFFF;
	--radius: 8px;
	--padding: 15px;
	--shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);

	--box: var(--bg);
	--nums: #000000;
	--player: #000000;

	--ball: var(--player);

	--left: var(--player);
	--leftnum: var(--nums);

	--right: var(--player);
	--rightnum: var(--nums);
}

body {
	background: var(--bg);
	font-family: "Roboto Mono", monospace;
}

#main {
	--sizeY: 30vw;
	--sizeX: 50vw;

	width: var(--sizeX);
	height: var(--sizeY);

	background: var(--box);
	box-shadow: var(--shadow);
	border-radius: var(--radius);

	position: fixed;
	top: calc(50vh - calc(var(--sizeY) / 2));
	left: calc(50vw - calc(var(--sizeX) / 2));
}

.player, #ball {
	width: 2%;
	height: 21%;
	position: absolute;
	top: var(--padding);
	left: var(--padding);
	border-radius: calc(var(--radius) / 2);
}

.player#left {background: var(--left)}
.player#right {
	left: unset;
	right: var(--padding);
	background: var(--right);
}

#ball {
	--size: calc(var(--sizeY) / 100 * 5);

	width: var(--size);
	height: var(--size);
	background: var(--ball);
	border-radius: var(--size);
}

#scores {
	width: 100%;
	opacity: 0.4;
	display: flex;
	font-size: 3em;
	vertical-align: middle;
	line-height: var(--sizeY);
	justify-content: space-around;
}

#rightscore {color: var(--rightnum)}
#leftscore {
	text-align: right;
	color: var(--leftnum);
}

